# https://EditorConfig.org

# top-most EditorConfig file
root = true

# Make sure every file:
# - Uses utf-8
# - Indents with spaces instead of tabs
# - Uses four space indents
# - Uses Unix-style newlines
# - Has a newline at the end of every file
# - Trims trailing whitespace
[*]
charset = utf-8
indent_style = tab
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true